@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Утилитарные стили */
html {
    box-sizing: border-box;
}

body {
    /* font-family: "DM Serif Display", serif; */
    font-family: "Jost", sans-serif;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin: 0;
    background-image: url(/img/line.svg);
    background-repeat: repeat-y;
    background-position: center;
    color: #292F36;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.page {
    padding-top: 178px;
    padding-bottom: 178px;
}

.title-2,
.title-3 {
    font-family: "DM Serif Display", serif;
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin: 0;
    font-weight: 400;
}

.title-3 {
    font-size: 25px;
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: #fff;
    border: none;
    box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
    background: #292f36;
    border-radius: 18px;
    padding: 26px 56px 26px 31px;
    position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 17px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    background-image: url(/img/arrow.svg);
}

/* Стили по блокам */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 43px;
    padding-bottom: 45px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
}

.header__item {
    margin-left: 48px;
}

.header__item:last-child {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.header__link {
    color: #292f36;
    font-size: 20px;
    line-height: 1.25;
    text-decoration: none;
    transition: .3s;
}

.header__link:hover {
    color: #CDA274;
}

.header__search {
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
}

.header__search svg {
    stroke: #141414;
    transition: .3s;
}

.header__search:hover svg {
    stroke: #CDA274;
}

.footer {
    background-color: #f4f0ec;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 90px;
}


.footer__address {
    max-width: 253px;
    font-style: normal;
}

.overlay {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.modal-search {
    background-color: #fff;
    padding-top: 47px;
    padding-bottom: 47px;
}

.form-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.form-search__input {
    max-width: 1046px;
    display: flex;
    flex-grow: 1;
    height: 45px;
    border: none;
    border-bottom: 1px #000 solid;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #4d5053;
    outline: none;
}

.form-search__input::placeholder {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #4d5053;

}

.form-search__submit {
    border: 1px #CDA274 solid;
    width: 52px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: .3s;
}

.form-search__submit:hover {
    background-color: #CDA274;
}

.form-search__submit svg {
    stroke: #292F36;
}

.form-search__submit:hover svg {
    stroke: #fff;
}

.form-search__close {
    border: none;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    aspect-ratio: 1;
    cursor: pointer;
}

.form-search__close svg {
    fill: #292F36;
    transition: .3s;
}

.form-search__close:hover svg {
    fill: #CDA274;
}

.hero {
    position: relative;
    height: calc(100vh - 165px);
    min-height: 400px;
    max-height: 1042px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 30vh;
}

.hero__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hero>.container {
    flex-basis: 100%;
}

.hero__title {
    font-size: 85px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    max-width: 560px;
}

.hero__text {
    max-width: 560px;
    margin: 0;
}

.about {
    padding-top: 196px;
    padding-bottom: 198px;
}

.about>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 75px;
}

.about__info {
    flex-basis: calc(100% - 700px);
}

.about__info>.title-2 {
    max-width: 430px;
    margin-bottom: 33px;
}


.about__info>p {
    max-width: 475px;
    margin-top: 0;
    margin-bottom: 1em;
}

.about__info>p:last-of-type {
    margin-bottom: 45px;
}

.about__phone {
    max-width: 280px;
    margin-bottom: 45px;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}

.about__phone-img {
    flex-basis: 93px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F4F0EC;
}

.about__phone-inner>p {
    margin: 0;
}

.about__phone-number {
    font-weight: 700;
    font-size: 24px;
}

.about__img {
    flex-basis: 653px;
    max-height: 700px;
    border-radius: 0 35vh 0 15vh;
    overflow: hidden;
}

.swiper {}

.feedback-swiper {
    transition: .3s;
}

.swiper-wrapper {}

.feedback-swiper__slide {
    padding-top: 88px;
    padding-bottom: 183px;
    background-color: #F4F0EC;
    border-radius: 70px;
}

.feedback-swiper__title {
    max-width: 650px;
    margin: 0 auto 90px;
}

.feedback-swiper__inner {
    max-width: 750px;
    margin: 0 auto;
}

.feedback-swiper__text {
    font-family: "DM Serif Display", serif;
    font-style: italic;
    font-size: 35px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 35px;
    position: relative;
}

.feedback-swiper__text::before {
    content: '';
    display: block;
    width: 31px;
    height: 24px;
    background-image: url(/img/quotes.svg);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

}

.feedback-swiper__author {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.feedback-swiper__prev,
.feedback-swiper__next {
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
}

.feedback-swiper__prev::after,
.feedback-swiper__next::after {
    content: '';
    display: block;
    width: 8px;
    height: 16px;
    background-image: url(/img/feedback-arrow.svg);
}

.feedback-swiper__next::after {
    transform: rotate(180deg);
}


.clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.numbers {
    padding-top: 151px;
    padding-bottom: 151px;
    background-color: #F4F0EC;
}


.numbers__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.numbers__item {
    flex-basis: 25%;
    text-align: center;
    position: relative;
}

.numbers__item::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 130px;
    background-color: #cda274;
    right: 0;
    top: calc(50% - 65px);
}

.numbers__item:last-child:after {
    display: none;
}

.numbers__item span {
    display: block;
    font-family: "DM Serif Display", serif;
    font-size: 85px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #cda274;
    margin-bottom: 16px;
}

.numbers__item p {
    margin: 0;
}

.article {}


.article__list {
    display: flex;
    align-items: center;
    column-gap: 27px;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.article__item {
    flex-basis: 33%;
    padding: 21px 21px 38px 21px;
    border: 1px solid #e7e7e7;
    border-radius: 62px;
    box-shadow: 0 10px 30px 0 rgba(255, 255, 255, 0.25);
}

.article__item:nth-child(even) {
    background-color: #f4f0ec;
}

.article__item-thumb {
    overflow: hidden;
    border-radius: 45px 45px 0 0;
    position: relative;
    margin-bottom: 21px;
}

.article__item-thumb img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article__item-tag {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #4d5053;
    padding: 4px 9px 8px 11px;
    border-radius: 8px 8px 8px 0;
    background-color: #fff;

}

.article__item-title {
    margin-bottom: 30px;
}

.article__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__date {
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #4d5053;
}

.article__link {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #f4f0ec;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__item:nth-child(even) .article__link {
    background-color: #fff;
}

.article__link svg {
    stroke: #292F36;
}